*{
    margin: 0;
    font-family:Arial;
    border: border-box;
}

.navbar { 
    height: 80px;
    background-color: lightslategrey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("Assets/opium-logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    display: flex;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/** box2 **/

.add-first{
        color: white;
        font-size: 0.85rem;
        margin-left: 15px;
}

.add-sec{
        font-size: 1rem;
        margin-left: 3px;
}

.add-icon{
        display: flex;
        align-items: center;

}
/** box3 **/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: cornsilk;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1.2rem;
    border: none;
}

.search-icon{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: orangered;

}

.nav-search:hover{
    border: 2px solid orangered;
}

/** box4 **/

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/** box 6**/
.nav-cart i {
        font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.ab-main-head{
    /* padding-top: 1.5rem; */
    opacity: 70%;
}
.founders{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 248, 248);
    border: 0.2px solid rgba(136, 5, 5, 0.308);
    border-radius: 15px;
    margin-top: 2.5rem;
    width: 25%;
}
.ab-first-section{
    display: flex;
    flex-wrap: wrap;
    /* float: left; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ab-card{
    height: 30rem;
    border: 1px solid rgba(128, 128, 128, 0.405);
}
.ab-card-img{
    border-radius: 50%;

}
.ab-card-headings{
    padding: 0%;
    text-align: center;
}
.name-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.aboutus{
    height: 350px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;

    border: 1px solid rgba(128, 128, 128, 0.414);
    border-radius: 10px;
    margin-bottom: 2rem;
    background-color: rgb(251, 248, 248);
}
.ab-text{
    font-size: large;
    font-weight: 900;
}
.ab-card-img{
    height: 200px;
    width: 200px;
}
.ab-card p{
    font-size: smaller;
}
.ab-card{
    height: 27rem;
    width: 20rem;
}